#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    bottom: 30%;
    background: rgba(0, 0, 0, 0.5);
    color: #043464;
    width: 100%;
    padding: 20px;

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;

    text-align: center;
    line-height: 1.25em;

    line-height: normal;
    letter-spacing: normal;

    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.style{
    position: absolute;
    bottom: 30%;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    width: 100%;
    padding: 20px;

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;

    text-align: center;
    line-height: 1.25em;

    line-height: normal;
    letter-spacing: normal;

    font-size: 20px;
    font-family: Arial,Helvetica,sans-serif;
}

.contact{
    background-color: #76422f;
    text-align: center;
    color:white;
    font-family: BlinkMacSystemFont;
}

.context{
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: normal;
    font-style: oblique;

    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 99%;
    padding: 20px;
    text-align: -webkit-center;
}

.box{
    position: absolute;
    bottom: -20%;
    background: rgba(0, 0, 0, 0.5);
    color: #043464;
    width: 98%;
    padding: 20px;

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;

    text-align: center;
    line-height: 1.25em;

    line-height: normal;
    letter-spacing: normal;

    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.element{
    position: relative;
    margin-top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}