:root {
    --color-custom: #1d69ab;
    --fs-nav: 1.2em;
}

* {
    font-family: 'Old Standard TT', serif;
}

.sc-color
 {
    color: var(--color-custom) !important;
}

.sc-fs {
    font-size: var(--fs-nav) !important;
}

.input-group {
    width: 100% !important;
}

#search-bar {
    height: 50px;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/*body {
    height: 1000px;
}*/

.wrapper {
    margin-top: 75px;
}





/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {

    min-width: 210px;
    max-width: 250px;
    transition: all 0.3s;
    margin: 10px;
    box-shadow:2px 1px 6px 2px #c9d8e4;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--color-custom);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}



#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--color-custom);
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--color-custom);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

a.article,
a.article:hover {
    background: var(--color-custom) !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    margin: 10px;
    box-shadow:2px 1px 6px 2px #c9d8e4;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.product-summary {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.product-summary:hover {
    box-shadow: 1px 1px 5px 1px #c18888;
}

.product-summary img {
    width: 180px;
    height: 180px;
}

input[name='c_name']:invalid {
    background-color: red;
}