.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
    background: #fff; }
.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

#showcase {
    position: relative;
    min-height: 800px;
}
#showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

thead, tfoot {
    font-size: 1.2em;
    background-color: #343a40;
    font-style: italic;
}

